/* <<<<<<<<<<<<<<<<<<<<  /////////   OVERLAY BOX ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.__overlay 
{
  left:50%;
  top:45%;
  float:left;
  width:380px;
  display:none;
  padding:10px;
  z-index:5000;
  text-align:center;
  position:absolute;
  margin-left:-150px;
  border:1px solid #666;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  background:white
}

.__overlay img { border:none; }
.__overlay .level_image   { float:left }
.__overlay .__close
{ 
	top:-28px;
	right:-28px;
    display:block;
    position:absolute;
}
.__overlay .__close img
{ 
	max-width:36px;
	min-width:20px;
}

#__overlayContent
{
	width:95%;	
	margin:8px auto;
}

#__overlayContent img
{	
	margin:auto;
}

#__overlayClear
{
	height:15px;
	width:200px;	
	margin:auto;
}

.__overlayShadow 
{
  top:0px;
  float:left;
  width:100%;
  height:100%;
  margin:auto;
  z-index:4999;
  display:none;
  position:fixed;
  background:#ccc;
  opacity: 0.3;
  -moz-opacity:0.3;
  -khtml-opacity:0.3;
  filter:alpha(opacity=10)
}

.__overlayAction 
{
	display:none;
	margin-left:-20px;
}
.__overlayAction li
{
	list-style:none;
	min-width:40px;
	margin:2px;
	padding:5px;
	display:none;
	border:1px solid #999999;
  	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.__overlayAction li:hover
{
  	 box-shadow:none;
  	-moz-box-shadow:none;
  	-webkit-box-shadow:none;
  	background:#EBEBEB /*url('images/even_row_back.png') repeat-x bottom*/
}

#__overlayAction_1
{
	display:inline-block;	
}


.__loader
{ 
	max-width:200px;
	max-height:50px; 
}
