fieldset
{
	color:#2E363F;
	width:90%;
    overflow:hidden;
    border:1px solid #d3d3d3;
    border-collapse:collapse;
    background:#fefefe;
    margin:5px auto 0;
   
}

fieldset legend
{
	color:#2E363F;
	padding:4px 8px;
	font-size:14px;
	font-weight:bolder;
	background: #fefefe /** #bdc3cc /** */; 
	
}