/* <<<<<<<<<<<<<<<<<<<<  /////////   HTML & BODY ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
html,body
{
	margin:0;
	padding:0;
	color:#000;
	height:100%;
	font-size: 12px;
	font-family:"FontAwesome";
	background:#2E363F;
}
 
 
/* <<<<<<<<<<<<<<<<<<<<  /////////   page-wrap  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#header
{
	cursor:pointer;
	width: 100%;
	margin:100px auto 0;
	margin-top:0px;
	height: 150px;
	min-height:150px;
	background:url("images/default_logo.png") center no-repeat;
}


/* <<<<<<<<<<<<<<<<<<<<  /////////   page-wrap  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#page_wrap
{
	width: 100%;
	margin: 0px auto;
	margin-top:0px;
	height: auto;
	min-height:100%;
	
	/** * border:1px solid red; /** */
}
 
#page_wrap:after
{
	display:block;
	clear:both;
}
 

/* <<<<<<<<<<<<<<<<<<<<  /////////   nav  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#nav 
{
	color:#fff;
	height:44px;
	margin-left:220px;
	background:#2E363F;
}

#nav ul
{
	margin:0;
	padding:0;
	list-style:none;
}

#nav li 
{
	margin:0px -1px;
	padding:0px;
	height:40px;
	min-width:100px;
	display:inline-block;
	border-left: 1px solid #1F262D;
	border-right: 1px solid #37414B;
}

#nav li a 
{
	color:#939DA8;
	display:inline-block;
	min-width:100px;
	padding:15px 10px;
	text-decoration: none;
	font-size:12px;
}

#nav li a:hover 
{
	color:#fff;
	
}


/* <<<<<<<<<<<<<<<<<<<<  /////////   info  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#info
{ 
	color:#939DA8;
	margin-left:15px;
	margin-top:15px;
	margin-right:20px;
	margin-bottom:0px;
	padding:0px;
	height:30px;
	border:1px solid #37414B;
	border-bottom:none;
	font-size:10px;
}

#info_logo 
{
	float:left;
	width:30px;
	height:30px;
	border-right:1px solid #37414B;
	background:url("images/info_logo.png") center no-repeat;
}

#info_content,
#info_message
{
	padding:5px 8px;
	margin-top:4px;
	margin-left:5px;  
	display:inline-block;
}

#secondary_nav
{
	float:right;
	height:auto;
	width:auto;
	text-align:right;
	padding:5px 8px;
	margin-top:2px;
}

#secondary_nav a
{
	color:#939DA8;
	text-decoration:none;
}

#info_date
{
	float:right;
	height:auto;
	width:auto;
	text-align:right;
	padding:5px 8px;
	margin-top:2px;
}

/* <<<<<<<<<<<<<<<<<<<<  /////////   content  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#content
{ 
	color:#666;
	width:auto;
	padding:0px;
	margin:auto;
	width:550px;
	min-width:500px;
	max-width:900px;
}

#sub_content
{ 
	margin-left:15px;
	margin-top:0px;
	margin-right:20px;
	margin-bottom:15px;
	padding:10px;
	border:1px solid #37414B;
}

#profile_content
{ 
	color:#666;
	width:auto;
	padding:0px;
	margin:auto;
	width:900px;
	min-width:500px;
	max-width:940px;
}

/* <<<<<<<<<<<<<<<<<<<<  /////////   footer  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#footer
{
	width:220px;
	min-height: 80px;
	margin: -120px 0;
	
	color:#fff;
	font-size:10px;
	text-align: center;
}

#footer a { text-decoration:none; color:#fff; }


/* <<<<<<<<<<<<<<<<<<<<  /////////   Elements  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
.clear_box { display:inline-block; width: 100%; height:20px; clear:both;}
.important_red
{
	color: red;
	font-weight: bolder;
}

.important_yellow
{
	color: yellow;
	font-weight: bolder;
}

#user_data_success
{
	color:#ff7f00;	
	margin:10px 5px;
	font-weight:bolder;
	display:inline-block;
}

.definition_term
{
	font-size:12px;
	font-weight:bold;
}

.definition_description
{
	font-weight:normal;
	color:#939DA8;
}

.hidden
{
	display: none;
}

.loading_bubble
{
	height:50px;
	min-width:150px;
	background:url("images/loading_bubble.gif") right center no-repeat;
}



/* <<<<<<<<<<<<<<<<<<<<  /////////   actions  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
#front_actions
{ 
	padding-bottom:10px;
	text-align:center;
}

#front_actions a 
{ 
	margin:0px 10px;
	color:#939DA8;
	text-decoration: none;
}

#front_actions a:hover { color:#fff; }

/* <<<<<<<<<<<<<<<<<<<<  /////////   actions  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
.actions { margin:0px; padding:0px; list-style: none; }
.actions li{ margin:2px; padding:4px; text-align:center; display:inline-block; }
.actions li a:hover { background:#939DA8; color:white; }

/** */
.actions li a 
{ 
	min-width:120px;
	color:white; 
	padding:8px 10px; 
	font-weight:bold; 
	background:#84BF41; 
	 display:inline-block;
	 cursor: pointer;
}/** */

/* <<<<<<<<<<<<<<<<<<<<  /////////   actions  ////////////////   >>>>>>>>>>>>>>>>>>>>>>>>>*/
.general_actions { margin:0px auto; padding:0px; list-style: none; text-align:center; }
.general_actions li{ margin:2px; padding:4px; text-align:center; display:inline-block; }
.general_actions li a:hover { background:#939DA8; color:white; }

/** */
.general_actions li a 
{ 
	min-width:120px;
	color:white; 
	padding:8px 10px; 
	font-weight:bold; 
	background:#ff7f00; 
	 display:inline-block;
	 cursor: pointer;
}/** */



